name: yaru_widgets
description: Common flutter widgets useful for building desktop and web applications.
homepage: https://github.com/ubuntu/yaru_widgets.dart

version: 1.0.5

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  l10n: ^2.0.19

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^1.0.0

flutter:
  uses-material-design: true
