name: yaru_widgets
description: Common flutter widgets useful for building desktop and web applications.
homepage: https://github.com/ubuntu/yaru_widgets.dart

version: 2.0.0-beta-4

environment:
  sdk: ">=2.17.0 <3.0.0"
  flutter: ">=3.3.0"

dependencies:
  flutter:
    sdk: flutter
  window_manager: ^0.3.0
  yaru: ^0.4.3
  yaru_colors: ^0.1.2
  yaru_icons: ^1.0.0

dev_dependencies:
  collection: ^1.16.0
  flutter_lints: ^1.0.0
  flutter_test:
    sdk: flutter
  golden_toolkit: ^0.13.0
  test: ^1.21.4

flutter:
  uses-material-design: true
