name: yaru_widgets
description: Common flutter widgets useful for building desktop and web applications.
homepage: https://github.com/ubuntu/yaru_widgets.dart

version: 1.0.8

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  yaru_colors: ^0.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^1.0.0

flutter:
  assets:
    - assets/ubuntu.png
  uses-material-design: true
