name: yaru_widgets
description: Common flutter widgets useful for building desktop and web applications.
homepage: https://github.com/ubuntu/yaru_widgets.dart
issue_tracker: https://github.com/ubuntu/yaru_widgets.dart/issues
version: 3.1.0

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=3.10.0"

dependencies:
  flutter:
    sdk: flutter
  yaru: ^1.1.0
  yaru_icons: ">=1.0.0 <3.0.0"
  yaru_window: ^0.1.1

dev_dependencies:
  collection: ^1.16.0
  flutter_lints: ^2.0.1
  flutter_test:
    sdk: flutter
  golden_toolkit: ^0.13.0
  mocktail: ^0.3.0
  plugin_platform_interface: ^2.1.3
  test: ^1.21.4
  yaru_window_platform_interface: ^0.1.0
