name: yaru_widgets
description: Common flutter widgets useful for building desktop applications.

publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ">=2.15.0-268.0.dev <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^1.0.0

flutter:
  uses-material-design: true
