name: yaru_widgets
description: Common flutter widgets useful for building desktop and web applications.
homepage: https://github.com/ubuntu/yaru_widgets.dart
issue_tracker: https://github.com/ubuntu/yaru_widgets.dart/issues
version: 3.6.0

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=3.16.0"

dependencies:
  animated_vector: ^0.2.0
  animated_vector_annotations: ^0.2.0
  collection: ^1.17.0
  flutter:
    sdk: flutter
  gtk: ^2.1.0
  platform: ^3.1.0
  yaru_window: ^0.2.0

dev_dependencies:
  flutter_lints: ^3.0.1
  flutter_test:
    sdk: flutter
  golden_toolkit: ^0.15.0
  mocktail: ^1.0.2
  plugin_platform_interface: ^2.1.3
  test: ^1.21.4
  yaru_window_platform_interface: ^0.1.0

flutter:
  fonts:
    - family: YaruIcons
      fonts:
        - asset: assets/yaru_icons.otf

icon_font:
  input_svg_dir: "assets/icons/"
  output_font_file: "assets/yaru_icons.otf"

  output_class_file: "lib/src/yaru_icons.dart"
  symlink_map_file: "assets/symlinks.json"
  class_name: "YaruIcons"
  package: yaru_icons
  format: false
  naming_strategy: "snake"

  font_name: "YaruIcons"
  normalize: false
  ignore_shapes: false

  recursive: true
  verbose: true
