name: analyze

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    name: analyze
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: subosito/flutter-action@v1
        with:
          channel: "stable"
          flutter-version: '3.10.x'

      - name: Install dependencies
        run: flutter pub get

      - name: Analyze project source
        run: flutter analyze
