name: Nightly

on:
  schedule:
    - cron:  '0 0 * * *'
  workflow_dispatch:

env:
  FLUTTER_VERSION: 3.10.x

jobs:
  goldens:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{env.FLUTTER_VERSION}}
      - run: flutter test --update-goldens
      - uses: peter-evans/create-pull-request@v4
        with:
          title: 'Update golden images'
          commit-message: 'Update golden images'
