name: Publish to GitHub Pages

on:
  # JUST FOR TESTING
  # push:
  #   branches:
  #     - main
  pull_request:
    branches:
      - main

env:
  FLUTTER_VERSION: 3.16.9

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: subosito/flutter-action@v1
        with:
          channel: 'stable'
          flutter-version: ${{env.FLUTTER_VERSION}}
      - uses: bluefireteam/flutter-gh-pages@v7
        with:
          workingDir: example
          baseHref: /yaru.dart/
          webRenderer: canvaskit
