name: Publish to GitHub Pages

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  FLUTTER_VERSION: 3.13.x

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{env.FLUTTER_VERSION}}
      - uses: bluefireteam/flutter-gh-pages@v7
        with:
          workingDir: example
          baseHref: /yaru_widgets.dart/
          webRenderer: canvaskit
